#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

:root {
  --text-color: black;
  --primary: green;
  --secondary: hsl(143, 93%, 71%);
  --tertiary: hsl(165, 65%, 65%);
  --accent: hsl(64, 91%, 79%);
  --padding: 2vw;
  --margin: 2vh;
}

.calculator-body {
  background-color: var(--main-theme);
  color: var(--text-color);
  display: grid;
  grid-template-areas:
  "dis dis dis cle"
  "one two three add"
  "four five six sub"
  "seven eight nine mul"
  "equ zero dec div";
}

.button {
  background-color: var(--secondary);
  margin: var(--margin);
  padding: var(--padding);
}

#display {
  background-color: white;
  color: black;
  padding: var(--padding);
  margin: var(--margin);
  grid-area: dis;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#decimal {
  background-color: pink;
  grid-area: dec;
}

#clear {
  background-color: red;
  grid-area: cle;
}

#add {
  background-color: orange;
  grid-area: add;
}

#subtract {
  background-color: yellow;
  grid-area: sub;
}

#multiply {
  background-color: antiquewhite;
  grid-area: mul;
}

#divide {
  background-color: orangered;
  grid-area: div;
}

#equals {
  background-color: green;
  grid-area: equ;
}